<!DOCTYPE html>
<html{{block "html_attr" .}}{{html_attr .Ctx}}{{end}}>
<head{{block "head_attr" .}}{{head_attr .Ctx}}{{end}}>
    {{block "head_start" .}}{{end}}
    {{block "title" .}}{{rev_title_tag .Ctx}}{{end}}
    {{block "favicons" .}}{{end}}
    {{head_tags .Ctx}}
    {{block "head" .}}{{end}}
    {{block "head_end" .}}{{end}}
</head>
<body{{block "body_attr" .}}{{body_attr .Ctx}}{{end}}>
{{block "body_start" .}}{{end}}
{{block "body" .}}{{end}}
{{block "body_after" .}}{{end}}
{{block "body_end" .}}{{end}}
</body>
</html>
