<!-- base.gohtml -->

{{define "body"}}
    <div class="wrap">
        <main class="main">
            <div class="container">
                {{block "main" .}}{{end}}
            </div>
        </main>
    </div>
{{end}}
