<!-- base.gohtml -->

{{define "body"}}
    <div class="wrap">
        {{if ne .Request.URL.Path "/"}}
        <header>
            <ul>
                <li><a href="{{page_url .Ctx .Site "_cms" "/"}}">HOME</a></li>
            </ul>
        </header>
        {{end}}
        <main class="main">
            <div class="container">
                {{block "main" .}}{{end}}
            </div>
        </main>
    </div>
{{end}}
