<!-- main.gohtml -->

{{define "main"}}
    <h1>Home Page</h1>
    <p>Create page <a href="/custom-page">Custom Page</a></p>
    <p><a href="/foo">Page Foo</a></p>
    <p><a href="/boo">Page Boo</a></p>
{{end}}
